*{
    margin: 0px;
    padding: 0px;

}
h1{
    color: black;

}

/* navbar */
.head{
    display: flex;
    justify-content: space-between;
    background-color: #eee5d8;
    box-shadow: 10px 10px 10px 2px rgb(197, 194, 194);
    position: fixed;
    width: 100%;
}
.logo{
    width: 85px;
    height: 80px;
    padding-left: 30px;
    padding-top: 5px;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}
#navbar li{
    list-style: none;
    padding: 0px 40px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#navbar li a:hover,
#navbar li a.active{
    color: #1f8e94;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 20%;
    height: 2px;
    background-color: #1f8e94;
    position: absolute;
    bottom: -4px;
    left: 50px;
}
.mobile{
    display: none;
}
#xmark{
    display: none;
}
/* section1 */
#container2{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    background: url('home_bg.jpg');
    background-position: top 70% left 100%;
}
.promt{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.promt h1{
    width: 570px;
    padding: 10px;
    color: #bb5454;
}
.promt h3{
    padding: 20px;
    font-size: 30px;
    color: #62ab72;
}
.promt button{
    margin-top: 20px;
    background-color: bisque;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 1px rgb(136, 128, 128);
}
.promt button:hover{
    box-shadow: 5px 5px 5px 3px rgb(136, 128, 128);
}
.promt p{
    width: 570px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-family: "Playwrite ES Deco", cursive;
}

/* container 3 */
#container3{
    display: flex;
    flex-direction: column;
}
#container3 h2{
    width: 200px;
    margin: auto;
    margin-top: 30px;
    font-size: 30px;
}
.allbox{
    display: flex;
    flex-wrap: wrap;
    padding:40px 20px;
    justify-content: space-around;
    margin: 0px 50px;
}
.box{
    width: 160px;
    height: 210px;
    border:  2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 1px rgb(136, 128, 128);
    transition: all 1 ease-in;
}
.box img{
    width: 150px;
    height: 180px;
    
}
.box:hover{
    transform: scale(1.1);
}
.box h5{
    padding:8px 7px ;
    background-color: #79a379;
    border-radius: 5px;
    margin: 5px 0px;
}
.box1 img{
    width: 280px; 
}
.box2 h5{
    background-color: aqua;
}
.box3 h5{
    background-color: palevioletred;
}
.box4 h5{
    background-color: antiquewhitebackground-;
}

/* container-4 */
#container4{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container4 h1{
    font-size: 50px;
}
#container4 h4{
    font-size: 20px;
    padding: 20px 0px;
    width: 570px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-family: "Playwrite ES Deco", cursive;
}
.pro{
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
    border: 2px solid black;
    box-shadow: 6px 7px 7px 2px rgb(110, 109, 108);
}
.p{
    padding: 20px 20px;
}
.pro:hover{
    box-shadow: 6px 7px 7px 2px rgb(83, 82, 81);
}
.pro img{
    width: 240px;
    height: 270px;
}
.star{
    color: rgb(215, 215, 96);
}
.product{
    display: flex;
    flex-wrap: wrap;
}

/* conainer 5 */
#container5{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
.deals{
    /* display: flex; */
    /* background-color: #f2c88a; */
    align-items: center;
    /* justify-content: center; */
    width: 45%;
    height: 230px;
    padding: 10px 10px;
}
.deals h1{
    padding: 20px 0px;
    font-size: 35px;
}
.deals img{
    
    width: 180px;
    height: 215px;
}
.deals button{
    height: 35px;
    width: 80px;
    background-color: #eee5d8;
    /* border-radius: 9px; */
    margin: 17px 20px;
    transition: 0.2;
    background-color: transparent;
}
.deals button:hover{
background-color: #369ed2;
color: white;

}
.deals1{
    background:url('deals.png') no-repeat center center/cover;
}
.deals2{
    background: url('deals3.jpg') no-repeat center center/cover;
}
.para{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
}

/* container 6 */
#container6{
    margin-top: 20px;
    display: flex;
    background-color: #000c33;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.text{
    width: 51%;
    padding-left: 100px;
    color: white;
}
.text span{
    color: #64bc91;
    cursor: pointer;
}
.text h1{
    color: white;
    font-size: 30px;
    padding: 10px 0px;
}
.butt input{
    width: 260px;
    border-radius: 5px;
    height: 40px;
}
.butt ::placeholder{
    padding-left: 20px;
}
.butt button{
    width: 100px;
    border-radius: 5px;
    height: 40px;
    background-color: #1f8e94;
    font-size: 14px;
}

/* container 7 */
#container7{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    /* width: 33%; */
    margin-top: 50px;
    margin: 50px 20px 10px 20px;
}
.info{
    display: flex;
    flex-direction: column;
}
.info a{
    text-decoration: none;
    padding: 7px 14px;
    color: black;
}
.info a:hover{
    color: blue;
}
.install{
    display: flex;
}
.install img{
    width: 50%;
}
.col p{
    padding: 10px 15px;
}
.foll{
    display: flex;
    margin: 0px 15px;
}
.foll i{
    padding: 0px 10px;
}
#payment{
    width: 100%;
}
/* footer */
footer{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}


/* Media Quary */
@media(max-width:1100px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:0px;
        right: -300px;
        height: 400px;
        width: 200px;
        background-color: #eee5d8;
        box-shadow: -17px 40px 60px black;
        padding: 20px 0px 20px 0px;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        padding: 23px 40px;
        margin: 0px auto;
    }
    .mobile{
        display: flex;
    }
    .mobile i{
        font-size: 30px;
        padding: 30px 70px 30px 0px;
    }
    #xmark{
        display: initial;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 30px;
        color: black;
    }
    #card{
        display: none;
    }
   
    .promt{
        width: 98%;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .promt h3 {
        padding: 20px;
        font-size: 30px;
        color: #949eea;
    }
    .promt h1 {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        text-shadow: 3px 3px #000c33;
    }
    .promt p{
        display: none;
    }
    .allbox {
        justify-content: center;
    }
    .box{
        margin: 10px;
    }
    .product{
        justify-content: center;
    }
    .para{
        padding-top:10px;
    }
    #container4 h4{
        width: 100%;
        padding: 10px 0px;
    }
    #container5{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .deals{
        width: 100%;
    }
    #container6{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .text{
        padding-left: 0px;
    }
    .butt input{
        width: 50%;
    }
    /* .coll{
        margin: 20px 20px;
    }
    .info{
        margin: 20px 20px;
    } */
    
    
}
